# Remove deprecated binary host configurations
sass-binary-site=
sharp-binary-host=
sharp-libvips-binary-host=
canvas-binary-host-mirror=
argon2-binary-host-mirror=
phantomjs_cdnurl=
node-sqlite3-binary-host-mirror=

# Use the latest version of npm
engine-strict=true

# Use the latest version of rimraf
rimraf@^4.0.0 